In [1]:
import pandas as pd
import requests
import json
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import api

In [2]:
lista_dfs = []

In [6]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('premier_league') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_pl = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: premier_league00-01.csv
Lido com sucesso: premier_league01-02.csv
Lido com sucesso: premier_league02-03.csv
Lido com sucesso: premier_league03-04.csv
Lido com sucesso: premier_league04-05.csv
Lido com sucesso: premier_league05-06.csv
Lido com sucesso: premier_league06-07.csv
Lido com sucesso: premier_league07-08.csv
Lido com sucesso: premier_league08-09.csv
Lido com sucesso: premier_league09-10.csv
Lido com sucesso: premier_league10-11.csv
Lido com sucesso: premier_league11-12.csv
Lido com sucesso: premier_league12-13.csv
Lido com sucesso: premier_league13-14.csv
Lido com sucesso: premier_league14-15.csv
Lido com sucesso: premier_league15-16.csv
Lido com sucesso: premier_league16-17.csv
Lido com sucesso: premier_league17-18.csv
Lido com sucesso: premier_league18-19.csv
Lido com sucesso: premier_league19-20.csv
Lido com sucesso: premier_league20-21.csv
Lido com sucesso: premier_league21-22.csv
Lido com sucesso: premier_league22-23.csv
Lido com sucesso: premier_league23-24.csv
Lido com sucesso: premier_league24-25.csv

In [9]:
nans = df_pl.isna().sum()

In [14]:
nans[15:30]

AST       1
HHW    8651
AHW    8651
HC        1
AC        1
HF        1
AF        1
HO     8651
AO     8651
HY        1
AY        1
HR        1
AR        1
HBP    8651
ABP    8651
dtype: int64

In [15]:
df_pl.to_csv('premier_league_all.csv', index=False, encoding='utf-8')

https://www.football-data.co.uk/notes.txt

In [16]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('bundesliga') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_bund = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: bundesliga00-01.csv
Lido com sucesso: bundesliga01-02.csv
Lido com sucesso: bundesliga02-03.csv
Lido com sucesso: bundesliga03-04.csv
Lido com sucesso: bundesliga04-05.csv
Lido com sucesso: bundesliga05-06.csv
Lido com sucesso: bundesliga06-07.csv
Lido com sucesso: bundesliga07-08.csv
Lido com sucesso: bundesliga08-09.csv
Lido com sucesso: bundesliga09-10.csv
Lido com sucesso: bundesliga10-11.csv
Lido com sucesso: bundesliga11-12.csv
Lido com sucesso: bundesliga12-13.csv
Lido com sucesso: bundesliga13-14.csv
Lido com sucesso: bundesliga14-15.csv
Lido com sucesso: bundesliga15-16.csv
Lido com sucesso: bundesliga16-17.csv
Lido com sucesso: bundesliga17-18.csv
Lido com sucesso: bundesliga18-19.csv
Lido com sucesso: bundesliga19-20.csv
Lido com sucesso: bundesliga20-21.csv
Lido com sucesso: bundesliga21-22.csv
Lido com sucesso: bundesliga22-23.csv
Lido com sucesso: bundesliga23-24.csv
Lido com sucesso: bundesliga24-25.csv

In [17]:
df_bund.to_csv('bundesliga_all.csv', index=False, encoding='utf-8')

In [18]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('ser_a') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_ser_a = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: ser_a05-06.csv
Lido com sucesso: ser_a06-07.csv
Lido com sucesso: ser_a07-08.csv
Lido com sucesso: ser_a08-09.csv
Lido com sucesso: ser_a09-10.csv
Lido com sucesso: ser_a10-11.csv
Lido com sucesso: ser_a11-12.csv
Lido com sucesso: ser_a12-13.csv
Lido com sucesso: ser_a13-14.csv
Lido com sucesso: ser_a14-15.csv
Lido com sucesso: ser_a15-16.csv
Lido com sucesso: ser_a16-17.csv
Lido com sucesso: ser_a17-18.csv
Lido com sucesso: ser_a18-19.csv
Lido com sucesso: ser_a19-20.csv
Lido com sucesso: ser_a20-21.csv
Lido com sucesso: ser_a21-22.csv
Lido com sucesso: ser_a22-23.csv
Lido com sucesso: ser_a23-24.csv
Lido com sucesso: ser_a24-25.csv

In [20]:
df_ser_a

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,I1,27/08/05,Fiorentina,Sampdoria,2.0,1.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I1,27/08/05,Livorno,Lecce,2.0,1.0,H,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I1,28/08/05,Ascoli,Milan,1.0,1.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I1,28/08/05,Inter,Treviso,3.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I1,28/08/05,Juventus,Chievo,1.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7600,NaN,25/05/2025,Empoli,Verona,1.0,2.0,A,1.0,1.0,D,...,2.00,2.98,5.13,2.04,3.00,5.40,3.30,1.41,2.04,1.94
7601,NaN,25/05/2025,Lazio,Lecce,0.0,1.0,A,0.0,1.0,A,...,1.48,4.33,8.05,1.46,4.90,8.60,1.68,2.42,1.98,1.98
7602,NaN,25/05/2025,Torino,Roma,0.0,2.0,A,0.0,1.0,A,...,5.39,4.45,1.61,6.00,4.60,1.60,1.75,2.28,1.91,2.05
7603,NaN,25/05/2025,Udinese,Fiorentina,2.0,3.0,A,1.0,0.0,H,...,3.21,3.46,2.33,3.20,3.45,2.48,1.87,2.10,1.88,2.11
7604,NaN,25/05/2025,Venezia,Juventus,2.0,3.0,A,1.0,2.0,A,...,6.45,5.16,1.46,7.60,4.80,1.50,1.58,2.66,1.93,2.04

In [19]:

df_ser_a.to_csv('serie_a_all.csv', index=False, encoding='utf-8')

In [21]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('la_liga') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_la_liga = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: la_liga05-06.csv
Lido com sucesso: la_liga06-07.csv
Lido com sucesso: la_liga07-08.csv
Lido com sucesso: la_liga08-09.csv
Lido com sucesso: la_liga09-10.csv
Lido com sucesso: la_liga10-11.csv
Lido com sucesso: la_liga11-12.csv
Lido com sucesso: la_liga12-13.csv
Lido com sucesso: la_liga13-14.csv
Lido com sucesso: la_liga14-15.csv
Lido com sucesso: la_liga15-16.csv
Lido com sucesso: la_liga16-17.csv
Lido com sucesso: la_liga17-18.csv
Lido com sucesso: la_liga18-19.csv
Lido com sucesso: la_liga19-20.csv
Lido com sucesso: la_liga20-21.csv
Lido com sucesso: la_liga21-22.csv
Lido com sucesso: la_liga22-23.csv
Lido com sucesso: la_liga23-24.csv
Lido com sucesso: la_liga24-25.csv

In [23]:
df_la_liga

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,SP1,27/08/05,Alaves,Barcelona,0,0,D,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,27/08/05,Ath Bilbao,Sociedad,3,0,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,27/08/05,Valencia,Betis,1,0,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,28/08/05,Ath Madrid,Zaragoza,0,0,D,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,28/08/05,Cadiz,Real Madrid,1,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,NaN,24/05/2025,Getafe,Celta,1,2,A,1,1,D,...,4.85,3.88,1.77,5.30,3.9,1.79,2.08,1.89,1.95,2.03
7596,NaN,24/05/2025,Vallecano,Mallorca,0,0,D,0,0,D,...,1.53,4.19,7.29,1.50,4.6,8.20,2.10,1.87,1.85,2.14
7597,NaN,25/05/2025,Girona,Ath Madrid,0,4,A,0,0,D,...,3.48,3.57,2.16,3.50,3.7,2.24,1.60,2.64,2.04,1.94
7598,NaN,25/05/2025,Villarreal,Sevilla,4,2,H,3,1,H,...,1.75,4.42,4.30,1.80,4.3,4.60,1.60,2.62,2.03,1.95
7599,NaN,25/05/2025,Ath Bilbao,Barcelona,0,3,A,0,2,A,...,3.49,4.00,2.03,3.35,4.0,2.18,1.47,3.05,2.07,1.91

In [22]:

df_la_liga.to_csv('la_liga_all.csv', index=False, encoding='utf-8')

In [24]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('league_one') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_league_one = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: league_one05-06.csv
Lido com sucesso: league_one06-07.csv
Lido com sucesso: league_one07-08.csv
Lido com sucesso: league_one08-09.csv
Lido com sucesso: league_one09-10.csv
Lido com sucesso: league_one10-11.csv
Lido com sucesso: league_one11-12.csv
Lido com sucesso: league_one12-13.csv
Lido com sucesso: league_one13-14.csv
Lido com sucesso: league_one14-15.csv
Lido com sucesso: league_one15-16.csv
Lido com sucesso: league_one16-17.csv
Lido com sucesso: league_one17-18.csv
Lido com sucesso: league_one18-19.csv
Lido com sucesso: league_one19-20.csv
Lido com sucesso: league_one20-21.csv
Lido com sucesso: league_one21-22.csv
Lido com sucesso: league_one22-23.csv
Lido com sucesso: league_one23-24.csv
Lido com sucesso: league_one24-25.csv

In [25]:

df_league_one.to_csv('league_one_all.csv', index=False, encoding='utf-8')

In [26]:
import os
import pandas as pd

lista_dfs = []

for file in os.listdir():
    if file.startswith('por') and file.endswith('.csv'):
        try:
            df_temp = pd.read_csv(file, sep=None, engine='python', encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            try:
                df_temp = pd.read_csv(file, sep=None, engine='python', encoding='latin1', on_bad_lines='skip')
            except Exception as e:
                print(f"Erro ao ler {file}: {e}")
                continue
        
        lista_dfs.append(df_temp)
        print(f"Lido com sucesso: {file}")

df_port = pd.concat(lista_dfs, ignore_index=True, join='outer')

Lido com sucesso: por17-18.csv
Lido com sucesso: por18-19.csv
Lido com sucesso: por19-20.csv
Lido com sucesso: por20-21.csv
Lido com sucesso: por21-22.csv
Lido com sucesso: por22-23.csv
Lido com sucesso: por23-24.csv
Lido com sucesso: por24-25.csv

In [28]:
df_port

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,P1,06/08/17,Aves,Sp Lisbon,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P1,06/08/17,Setubal,Moreirense,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P1,07/08/17,Feirense,Tondela,1,1,D,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1,07/08/17,Portimonense,Boavista,2,1,H,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P1,07/08/17,Rio Ave,Belenenses,1,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,NaN,17/05/2025,Estoril,Estrela,4,0,H,4,0,H,...,2.70,3.42,2.72,2.70,3.50,2.86,2.06,1.90,1.91,2.05
2444,NaN,17/05/2025,Farense,Santa Clara,1,2,A,1,1,D,...,2.74,3.23,2.82,2.76,3.25,2.94,2.40,1.68,1.91,2.05
2445,NaN,17/05/2025,Porto,Nacional,3,0,H,1,0,H,...,1.33,5.77,9.45,1.31,6.60,11.00,1.49,2.96,1.84,2.13
2446,NaN,17/05/2025,Sp Braga,Benfica,1,1,D,1,0,H,...,5.71,4.67,1.56,6.40,4.70,1.58,1.54,2.76,2.05,1.93
2447,NaN,17/05/2025,Sp Lisbon,Guimaraes,2,0,H,0,0,D,...,1.33,5.67,9.73,1.30,6.20,13.00,1.56,2.78,1.94,2.05

In [27]:
df_port.to_csv('port_all.csv', index=False, encoding='utf-8')